<form action="/create" method="POST">
    <h2>Создать задачу</h2>
    <p>{{error}}</p>
    <div class="input-field">
        <input type="text" name="title">
        {{!-- <label>ToDo title</label> --}}
    </div>
    <button type="submit" class="btn">Отправить</button>
</form>
